@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="column">
        <h1 style="color:darkgoldenrod; font-family:'Times New Roman', Times, serif; font-weight:bolder; border:4px solid powderblue; text-align:center">
            Product Details
        </h1>
    </div>
</div>
<br />
<div class="container">
    <img src="/images/Image5.jpg" />
</div>